<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>👮‍</title>
</head>
<body style="background-color: lightblue">
<h1>Car number generator</h1>
<h2>${nextNumber}</h2>
<form action="/number/next" style="display:inline">
    <input type="submit" value="Next ➡️️">
</form>
<form action="/number/random" style="display:inline">
    <input type="submit" value="Random 🎲">
</form>

<table>
    <#--строка-->
    <tr>
        <#--заголовок-->
        <th>Выданные номера</th>
        <hr>
    </tr>
    <#--динамически наполняем страницу-->
    <#--тег freemarker (цикл) 'название атрибута'-->
    <#list numbers as number>
        <tr>
            <td><b>${number.getNumber()}</td>
        </tr>
    </#list>
</table>

</body>
</html>
